:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

header {
    text-align: center;
    margin: 80px 0;
}

header h6 {
    color: var(--Grayish-Blue);
    font-size: 2.4rem;
    font-weight: 200;
}

header h4 {
    color: var(--Very-Dark-Blue);
    font-size: 2.4rem;
    font-weight: 600;
}

header p {
    margin: 20px auto;
    color: var(--Grayish-Blue);
    width: min(70vw, 500px);
}

main {
    display: grid;
    place-content: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    grid-template-areas:
        "supervisor team calculator"
        "supervisor karma calculator";
    place-content: center;

}

.card {
    min-width: 20rem;
    max-width: 25rem;
    height: 250px;
    -webkit-box-shadow: 18px 35px 54px -15px rgba(222, 230, 241, 1);
    -moz-box-shadow: 18px 35px 54px -15px rgba(222, 230, 241, 1);
    box-shadow: 18px 35px 54px -15px rgba(222, 230, 241, 1);
    border-radius: 8px;
    padding: 30px;
    position: relative;
    animation: reveal 0.6s;
}

.card h4 {
    color: var(--Very-Dark-Blue);
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.card p {
    color: var(--Grayish-Blue);
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.card img {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.card-supervisor {
    border-top: 4px solid var(--Cyan);
    grid-area: supervisor;
    align-self: center;
}

.card-team {
    border-top: 4px solid var(--Red);
    grid-area: team;

}

.card-karma {
    border-top: 4px solid var(--Orange);
    grid-area: karma;
}

.card-calculator {
    border-top: 4px solid var(--Blue);
    grid-area: calculator;
    align-self: center;
}

@media only screen and (max-width: 58.125rem) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "supervisor team"
            "karma calculator";
        animation: reveal 0.6s;
    }
}

@media only screen and (max-width: 38.1875rem) {
    .cards {
        grid-template-columns: 1fr;
        grid-template-areas:
            "supervisor"
            "team"
            "karma"
            "calculator";
    }

    .card {
        animation: reveal-up 0.6s;
    }
}

@keyframes reveal {
    from {
        transform: scale(90%);
        opacity: 0;
    }

    to {
        transform: scale(100%);
        opacity: 1;
    }
}

@keyframes reveal-up {
    from {
        transform: scale(90%) translateY(5rem);
        opacity: 0;
    }

    to {
        transform: scale(100%) translateY(0);
        opacity: 1;
    }
}